<div class="dashboard">
    <video autoplay loop class="back-video" id="videoPlayer">
        <source src="../../assets/files/background.mp4" type="video/mp4">
    </video>
    <div class="sub-dash row">
        <div class="box col-md-4" (click)="practicePage()">
            Practice
        </div>
        <div class="box col-md-4" (click)="liveGame()">
            Play Online
        </div>
        <div class="box col-md-4" (click)="statPage()">
            Player statistics
        </div>
    </div>
</div>
